
<div class="gallery-container">
  {{#each galeria}}
    <div class="card">
      <img class="card-image" src="{{imagen}}" alt="Pastel decorado">
      <div class="card-content">
        <h3 class="card-title">{{titulo}}</h3>
        <p class="card-text">{{descripcion}}</p>
      </div>
    </div>
  {{/each}}
</div>
